<header class="w-100 p-3 h-auto d-inline-block border-bottom d-flex justify-content-between" style="background-color: azure; ">
  <img src="assets/img/ipn.png" class="float-start" alt="IPN" />
  <div>
      <h3 class="d-flex align-items-center">ESCUELA SUPERIOR DE COMPUTO</h3>
      <h5 class="d-flex align-items-center justify-content-center">Sistema de Administracion Escolar 2.0</h5>
  </div>
  <img src="assets/img/escom.png" class="float-end" alt="ESCOM" />
</header>

<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: rgb(107, 23, 64)">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" >Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mis Datos</a>
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu">
              <a class="dropdown-item trigger dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">General</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item">Datos Generales</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Nacimiento</a>
                </li>
                <li>
                  <a class="dropdown-item">Direccion</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Padre/Tutor</a>
                </li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Datos Medicos</a></li>
            <li><a class="dropdown-item" href="#">Datos Deportivos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inscripcion Actual</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Horario</a></li>
            <li><a class="dropdown-item" href="#">Calificaciones</a></li>
            <li><a class="dropdown-item" href="#">Kardex</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Reinscripciones</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ficha de Reinscripcion</a></li>
            <li><a class="dropdown-item" href="#">Reinscripcion</a></li>
            <li><a class="dropdown-item" href="#">Horario de clase</a></li>
            <li><a class="dropdown-item" href="#">Ocupabilidad de horarios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tramites</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Solicitud de Constancia </a></li>
            <li class="dropdown dropdown-submenu">
              <a class="dropdown-item trigger dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">Solicitud de Boleta</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Boleta Global</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Boleta Informativa</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ETS</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Inscripcion ETS</a></li>
            <li><a class="dropdown-item" href="#">Calificaciones ETS</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dictamen</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Solicitud de Dictamen</a></li>
            <li><a class="dropdown-item" href="#">Datos del Dictamen</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Saberes Previos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Inscripcion Saberes Previos</a></li>
            <li><a class="dropdown-item" href="#">Calificaciones Saberes Previos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<form>
  <div class="container">
    <p>Datos médicos</p>
    <div class="form-group row">
      <label for="peso" class="col-sm-3 col-form-label">Peso:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="peso" placeholder="Peso" required>
        
      </div>
    </div>
    <div class="form-group row">
      <label for="estatura" class="col-sm-3 col-form-label">Estatura:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="estatura" placeholder="Estatura" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="tipodesangre" class="col-sm-3 col-form-label">Tipo de sangre:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="tipodesangre" placeholder="Tipo de sangre" required>
      </div>
    </div>
    <br/>
    <p>Afiliación Médica</p>
    <div class="form-group row">
      <label for="seguro" class="col-sm-3 col-form-label">Seguro Social:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="seguro" placeholder="Seguro Social" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="fechaalta" class="col-sm-3 col-form-label">Fecha de alta:</label>
        <div class="col-sm-1">
        <input type="date" name="fechaal" min="2020-08-21" max="2024-08-21" required/>
            <span class="validity"></span>
        </div>    
    </div>
    <div class="form-group row">
      <label for="fechabaja" class="col-sm-3 col-form-label">Fecha de baja:</label>
        <div class="col-sm-1">
        <input type="date" name="fechabaja"min="2020-08-21" max="2024-08-21" required/>
            <span class="validity"></span>
        </div>    
    </div>
    <br/>
    <p>Integridad Física</p>
    <div class="form-group row">
      <label for="enfermedades" class="col-sm-3 col-form-label">¿Padece enfermedades?</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="enfermedades" placeholder="¿Padece enfermedades?" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="problemasfisicos" class="col-sm-3 col-form-label">¿Tiene problemas físicos?</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="problemasfisicos" placeholder="¿Tiene problemas físicos?" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="pieplano" class="col-sm-3 col-form-label">¿Tiene pie plano?</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="pie plano" placeholder="¿Tiene pie plano?" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="alergias" class="col-sm-3 col-form-label">¿Tiene alergias?</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="alergias" placeholder="¿Tiene alergias?" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="describirenfermedad" class="col-sm-3 col-form-label">Describa su enfermedad:</label>
      <div class="col-sm-9">
        <textarea class="form-control" id="describirenfermedad" rows="3" placeholder="Describa su enfermedad" required></textarea>
      </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Modificar datos</button>
    
  </div>
</form>


<div style="margin-bottom:6.5%; position:relative;">
  <footer class="w-100 p-3 h-auto d-inline-block border-top d-flex justify-content-between align-bottom" style=" background-color: azure; height: 100%;position: absolute; margin-top: 7.5%; ">
      <div>
          <h6>© 2022 SAES v2.0</h6>
      </div>
      <div>
          <a href="https://www.ipn.mx/" class="link-primary">IPN</a>&nbsp;
          <a href="https://www.dae.ipn.mx/" class="link-primary">IPN-DAE</a>
      </div>
      <div>
          <a href="https://www.facebook.com/ipn.mx"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg></a>&nbsp;
          <a href="https://twitter.com/IPN_MX"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg></a>&nbsp;
          <a href="https://www.escom.ipn.mx/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg></a>
      </div>
  </footer>
  </div>
  
